html,body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

header{
  background-color: #f44277;
  color: #e6e6e6;
  height: 54px;
  width: 100%;
}

.appname{
  font-size: 30px;
  padding: 20px;
  color: #e6e6e6;
}

a:hover{
  text-decoration: none;
  color: #e8eaed;
}

footer{
  width: 100%;
  height: 60px;
  background-color: #f44277;
  position: absolute;
}

.info{
  padding: 20px;
  font-size: 15px;
  color: #e6e6e6;
}

#wrap{
  margin: 0 auto;
  width: 100%;
  min-height: 100%;
  position: relative;
  height: auto !important;
  height: 100%;
}

h1{
  margin: 10px;
  color: #e6e6e6;
}

.add{
  margin: 10px;
}

.tasks{
  height: auto;
  margin: 30px;
}
